@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
*
{
    margin: 0 ; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
}

body
{
    min-height : 100vh; 
}
/* ------------ Transition Navbar    ----------------*/
.backcolor
{
    background:  transparent !important ;
    transition : 0.8s ease; 
    
    
}
.invisible
{
    visibility: hidden;
    transition : 0.4s ;
    transition-duration: 0.8s;
    transition-delay: 0.5s;
   
}
/* ------------ Présentation Bloc 1  ----------------*/
#presentation
{
    position : relative ; 
    width : 100%; 
    height : 100vh;
    background : #20B1C9 ; 
    background-size: cover;
    text-align : center;
}
#presentation h1 
{
    margin-top: 4em;
    text-align: center;
    position: relative;
}
#presentation p
{
    margin-top: 3em;
    text-align: center;
    position: relative;

}
/* ------------ propos Bloc 2 ----------------*/
#About 
{
    position : relative ; 
    width : 100%; 
    height : 100vh;
    background : #20C99E ; 
    background-size: cover;
    text-align : center;

}
.col 
{
    
    text-align: center;
    position: relative;
    margin-top: 35vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
}
#About h1
{
    
    text-align: center;
    position: relative;
}

.buttontrig
{
    position : relative;
    display: inline-block;
   
    color: #fff ; 
    text-decoration : none ; 
    text-transform: uppercase;
    font-size : 18px ;
    letter-spacing: 2px ; 
    border-radius: 40px;
    background : linear-gradient(90deg,  #0c5b74 , #0e8f80 ) ; 
   
}
/* ------------   Bloc 3 ----------------*/
#Portfolio 
{
     position : relative ; 
    width : 100%; 
    height : 100vh;
    background : #20B1C9 ; 
    background-size: cover;
    text-align : center;

}
#Portfolio h1 
{
    
    text-align: center;
    position: relative;
}
.card 
{
    width: auto;
    max-width:34rem ;
 
    margin: 0 auto; 
    float: none; 
    margin-bottom: 25px; 
}


/* ------------   Bloc 4 ----------------*/
#Contact
{
     position : relative ; 
    width : 100%; 
    height : 100vh;
    background : #20C99E; 
    background-size: cover;
    text-align : center;

}
#Contact 
{
    
    text-align: center;
    position: relative;
}
/*
.pop
{
    flex-direction: column;
    padding-left: 6rem;
}

.pop a 
{
    width : 60px ;
    height : 60px ; 
    display : flex ; 
    justify-content : center;
    align-items : center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(51,51,51) ; 
    margin: 0.1em;
    background: rgb(236,236,236) ; 
    position : relative ; 
    transition: all 0.4s;
}
.pop a:hover
{
    transform : scale(0.9) ; 
}
.pop a::before
{
    content: attr(data-text);
    position : absolute;
    top : 0;
    left : 70px ; 
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
    border-radius: 50px;
    width : 150 ; 
    height : 100% ; 
    display : flex ; 
    justify-content : center;
    align-items : center;
    font-weight : 1500 ; 
    color : rgb (51,51,51) ; 
    background : rgb(236,236,236) ; 
    display: none ; 
}
.pop a:hover::before
{
    display: flex ; 
}
.pop a::after 
{
    content : "";
    position : absolute ; 
    top: 0;
    left : 0 ; 
    border-radius: 50px ;
    width : 60px ;
    height : 60px ; 
    background: #e94057e1 ; 
    transform: scale(0);
    transition: all 0.4s ;  
}
.popa:hover::after
{
    transform : scale(0.8) ; 
}
.pop a i {
    z-index : 20 ; 
    transition: all 0.4s ; 
}
.pop a:hover i {
    color: white ; 
}
*/